# Node
/node_modules/
/frontend/node_modules/

# React build
/frontend/build/

# Python
__pycache__/
*.pyc

# VSCode
.vscode/

# OS files
.DS_Store

# dotenv
.env
*.env

# CSV, local data files
*.csv
/datas/*.csv