.line-wrap {
  position: relative;
  display: grid;
  gap: 40px;                     /* 행 간 간격(세로) */
  margin: 4.5rem 5.5rem;
}

.stations {
    position: relative;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(var(--cols, 7), 1fr);
    padding: 1.75rem;
}

.stations::before {
    content: "";
    position: absolute;
    left: 0;                 
    right: 0;
    top: 25px;                  
    height: 22px;
    background: var(--line-color);
    z-index: 0;
}

/* 다음 행과 연결되는 세로 트랙 - 오른쪽 */
.row-connector-r::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 120px;
    background: var(--line-color);
    right: calc(0px);
    bottom: calc(0px - 65px);
    z-index: 0;
}

/* 다음 행과 연결되는 세로 트랙 - 왼쪽 */
.row-connector-l::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 120px;
    background: var(--line-color);
    left: calc(0px);
    bottom: calc(0px - 65px);
    z-index: 0;
}

.station {
    text-align: center;
    width: max-content;
    cursor: pointer;
}

.station:hover .label { font-weight: 700; color: #111; }

.dot {
    display: block;
    margin: 0 auto;
    width: 1rem;
    height: 1rem;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    z-index: 10;
}

.label {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    display: inline-block;
    margin-top: 6px;
}

.station-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.4); /* 반투명 검정 */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* 화면 최상단으로 */
}

.station-modal {
    max-width: 1100px;
    width: 85%;
    border: 4px solid;
    border-radius: 14px;
    background: #fff;
    overflow: hidden;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,.2);
    font-size: 1.15rem;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 4px 1rem;
}

.info-header .station-name {
    width: 200px;
    padding: .3rem 0;
    background-color: #fff;
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.info-header .station-name i {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 33px;
    height: 33px;
    font-style: normal;
}

.info-header .station-name h3 {
    color: #111;
    font-size: 1.32rem;
    font-weight: 600;
}

.info-box { 
    width: 90%;
    margin: 1.5rem auto; 
}

.info-basic {
    display: grid;
    grid-template-columns: .4fr 1fr;
}

.info-basic p { font-weight: 600; }

.info-basic span { color: #777; }

.facilities {
    display: flex;
    justify-content: space-between;
}

.facility {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 2.5rem 0;
    font-size: 1rem;
}

.facility .icon {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    display: block;
    margin-bottom: 5px;
}

.info-box .map {
    margin: 0 auto;
    width: 100%;
    height: 350px;
    background-color: #333;
}

.info-box .link {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.info-box .link a { color: #111; }