<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.barotago.backend.subway.dao.SubwayDAO">
	<select id="selectMainLines" resultType="ServiceLine">
		select 
			line_code,
			line_name,
			color_hex,
			text_color,
			order_no
		from service_lines
		where line_code = parent_code
		order by order_no
	</select>
	<select id="selectChildLines" resultType="ServiceLine">
		select
			line_code,
			line_name
		from service_lines
		where parent_code = #{parentCode}
		order by line_code
	</select>
	<select id="findStationByLineCode" resultType="LineStationResponseDTO">
		select
			sls.sequence_no,
			s.station_name,
			s.station_cd
		from service_line_station sls
		join station s
			on sls.station_id = s.station_id
		where sls.line_code = #{lineCode}
		order by sls.sequence_no asc
	</select>
</mapper>