.station-modal {
    max-width: 1100px;
    width: 85%;
    border-radius: 14px;
    background: #fff;
    overflow: hidden;
    box-shadow: 3px 3px 4px 0px rgba(0,0,0,.2);
    font-size: 1.15rem;
    padding: 35px 40px;
    height: 600px;
    overflow: scroll;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.info-header .station-name {
    width: 145px;
    padding: 0.6rem 0;
    background-color: #fff;
    border-radius: 999px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}

.info-header .station-name i {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 999px;
    width: 33px;
    height: 33px;
    font-style: normal;
}

.info-header .station-name h3 {
    color: #111;
    font-size: 1rem;
    font-weight: 600;
}

.on-prev, .on-next {
    height: 30px;
    line-height: 30px;
    border-radius: 999px;
    font-size: .9rem;
    cursor: pointer;
}

.tab {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    margin: 30px 0;
}

.tab button {
    height: 35px;
    font-size: 14px;
    background: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.tabBox1 h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.tabBox1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.tabBox1 ul li {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 20px;
}

.tabBox1 ul li strong {
    color: var(--line-1);
    font-weight: 500;
}

.tabBox1 hr {
    margin: 35px 0;
}

.facilities {
    display: flex;
    justify-content: space-between;
}

.facility {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.facility p {
    margin-top: 3px;
    text-align: center;
}

.info-box .map {
    margin: 0 auto;
    width: 100%;
    height: 350px;

}

.info-box .link {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}

.info-box .link a { color: #111; }

#map {
    width: 100%;
    height: 350px;
}